* {

    margin: 0px auto;
    width: 1024px;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;

}

body {

    background-image: url(second\ bg.jpg);
    background-color: rgba(14, 112, 9, 0.697);
    z-index: 0;

}

header {

    background-color: rgba(191, 237, 172, 0.752);
    text-align: center;
    z-index: 1;
    width: 1380px;
    position: relative;
    right: 178px;
    height: 300px;
}

header img {

    width: 100px;
    height: 100px;

}

main {

    z-index: 2;
    text-align: center;
    background-color: rgba(255,255,255, 0.9);
    position: relative;
    bottom: 70px;
    height: 1250px;

}

main img {

    width: 600px;
    height: 300px;

}

section {

    display: flex;
    margin-top: 20px;
}

.setimages img {

    width: 450px;
    height: 250px;
}

.setimages2 img {

    width: 450px;
    height: 250px;
}

.further {

    width: 150px;
    height: 70px;
    margin-top: 45px;
    font-size: 20px;
    text-shadow: 2px;
    background-color: darkgreen;
    color: white;
    font-weight: bold;
    border: none;

}

.further:hover {

    box-shadow: inset;
    cursor: pointer;
    text-decoration: underline;
    background-color: white;
    color: darkgreen;
    transition-duration: 0.9984721110051113s;
    border: 2px solid darkgreen;

}

hr {

    background-color: darkgreen;
    border: 1px solid darkgreen;
    width: 550px;
    margin-top: 45px;

}

main p {

    font-size: 18px;
    font-weight: lighter;
    letter-spacing: 1.5px;
    margin-top: 2px;
    padding-top: 5px;

}

main p span {

    font-weight: bold;
    font-size: 25px;
}
